/******************************** The Dark Mode Code  Starts Here ***********************************/


page {
    background: black;
}
pre[class*=language-] {
    background: black !important;
    color: white !important;
    text-shadow: 0px 0px red;
    content: "";
}
code[class*=language-] {
    text-shadow: 0px 0px red;
}
code[class*=language-] span[class*="token"] {
    background: 0;
}

body {
    background: black!important;
}
p {
    color: rgb(206, 206, 206) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(226, 226, 226)!important;
}
code {
    color: red !important;
}
p em,
strong {
    color: rgb(138, 138, 138) !important;
}
* {
    color: rgb(189, 189, 189);
}
.doc-box,
iframe {
    background: black;
}
header,
#logo {
    background: black;
}
#logo .express {
    color: rgb(134, 134, 134);
}
#overlay {
    background: #484848;
}

header #navbar ul li,
header #navbar ul li ul {
    color: #ae0404;
    font-weight: bold;
    background: black;
}
header #navbar ul li a {
    color: red!important;
}
#announcements {
    background: #2d1919;
}
#install-command {
    background: black;
}
/*
header #navbar {
    background: black;
}*/
